@page "/"

<PageTitle>Notes</PageTitle>

<h1>Your Notes</h1>

<p> Welcome to the Notes App! </p>

@if (_notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in _notes)
            {
                <tr>
                    <td>@note.Title</td>
                </tr>
            }
        </tbody>
    </table>
}
